img {
  max-width: 100%; }

a {
  text-decoration: none; }

.lh-10 {
  line-height: 10px; }

.reset-col-padding {
  margin-right: -10px;
  margin-left: -10px; }

.reset-col-padding > div[class*=col] {
  padding-left: 10px;
  padding-right: 10px; }

.center-vertical {
  justify-content: center; }

.center-vertical, .center-vertical-nojustify {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center; }

.footer {
  padding: 30px 0px;
  background: #0D4530; }
  .footer .footer-left {
    display: flex; }
    .footer .footer-left .logo {
      max-width: 25%;
      padding-right: 15px; }
    .footer .footer-left .content {
      color: #fff;
      padding-top: 20px; }
      .footer .footer-left .content span {
        display: block; }
  .footer .footer-right {
    display: flex;
    padding-top: 20px; }
    .footer .footer-right .menu {
      width: 50%; }
      .footer .footer-right .menu a {
        color: #fff; }
      .footer .footer-right .menu li {
        padding-bottom: 15px; }
      .footer .footer-right .menu img {
        max-width: 50px;
        max-height: 25px;
        padding-right: 8px; }

header .header-simple .main-nav img {
  max-width: 25px;
  margin-right: 10px; }
header .header-simple .main-nav li a {
  color: #000; }
header .header-simple .toggle-mobile-menu {
  cursor: pointer;
  width: 20px; }
header .header-simple .toggle-mobile-menu:first-child span,
header .header-simple .toggle-mobile-menu:first-child:after,
header .header-simple .toggle-mobile-menu:first-child:before {
  background-color: #000;
  content: "";
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all .2s ease-in-out; }
header .menu-show {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 11;
  top: 0;
  background-image: url(../images/bg.jpg);
  background-size: cover; }
  header .menu-show .border-bottom-light {
    border-bottom: 2px solid #fff; }
  header .menu-show .text-vertical-lr {
    padding-top: 25px;
    padding-bottom: 25px;
    writing-mode: vertical-lr;
    color: #fff; }
  header .menu-show .logo img {
    max-width: 200px; }
  header .menu-show ul li img {
    max-width: 50px;
    max-height: 25px;
    padding-right: 8px; }
  header .menu-show .list-menu-show li {
    padding: 10px 0; }
    header .menu-show .list-menu-show li a {
      color: #fff; }
  header .menu-show .menu-bottom {
    padding: 30px 0;
    color: #fff;
    background: #0afe0a; }
  header .menu-show .toggle-mobile-menu:first-child:before {
    transform: translateY(7px) rotate(135deg); }
  header .menu-show .toggle-mobile-menu:first-child span {
    transform: scale(0); }
  header .menu-show .toggle-mobile-menu:first-child:after {
    transform: translateY(-5px) rotate(-135deg); }
header .menu-show::before {
  background-color: #00800082;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }

.page-1 .header-simple {
  position: absolute;
  z-index: 11;
  width: 100%; }
.page-1 .b-content {
  writing-mode: vertical-lr;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%; }
.page-1 .b-banner-1 {
  position: relative;
  overflow: hidden; }
  .page-1 .b-banner-1 img.b-img-main {
    max-height: 700px;
    width: 100%; }
  .page-1 .b-banner-1 img.people-1, .page-1 .b-banner-1 img.people-2, .page-1 .b-banner-1 img.people-3, .page-1 .b-banner-1 img.people-4 {
    position: absolute;
    max-height: 400px;
    transition: all 0.3s ease; }
  .page-1 .b-banner-1 img.people-1 {
    bottom: -20%;
    left: -50px;
    transform: rotate(45deg); }
    .page-1 .b-banner-1 img.people-1:hover {
      left: 0; }
  .page-1 .b-banner-1 img.people-2 {
    top: -10%;
    left: -50px;
    transform: rotate(120deg); }
    .page-1 .b-banner-1 img.people-2:hover {
      left: 0; }
  .page-1 .b-banner-1 img.people-3 {
    bottom: -20%;
    right: -50px;
    transform: rotate(-45deg);
    max-height: 350px; }
    .page-1 .b-banner-1 img.people-3:hover {
      right: 0; }
  .page-1 .b-banner-1 img.people-4 {
    top: -10%;
    right: -50px;
    transform: rotate(-120deg);
    max-height: 350px; }
    .page-1 .b-banner-1 img.people-4:hover {
      right: 0; }

.page-7 .block-1 {
  padding: 50px 0; }
  .page-7 .block-1 .block-1-1 {
    padding: 30px;
    background-image: url(../images/bg.jpg); }
    .page-7 .block-1 .block-1-1 .b-border {
      border: 2px solid #fff;
      padding: 30px; }

.page-8 .block-13 .content input, .page-8 .block-13 .content textarea {
  background: #DCDDDF;
  border: 1px solid #A4A6A9;
  padding: 4px 5px; }
.page-8 .block-13 .content input.w-30 {
  width: 30%; }
.page-8 .block-13 .content .inout {
  padding: 10px 0; }
.page-8 .block-13 .content .inout-child {
  padding: 2px 0; }
.page-8 .block-13 .content .inout-child .title {
  padding-left: 15px; }

.block-11-1 {
  padding: 50px 0; }
  .block-11-1 .bg-11-1 {
    background: #FEE5C8;
    padding: 20px 40px; }

@media (min-width: 768px) {
  .logo-menu-bottom img {
    position: absolute;
    bottom: 0;
    right: 50px; } }
@media (max-width: 768px) {
  .page-1 .header-simple {
    position: inherit; }

  header .menu-responsive {
    display: none; }

  .footer .footer-left, .footer .footer-right {
    display: block; }
    .footer .footer-left .menu, .footer .footer-right .menu {
      width: 100%; } }
