img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
.lh-10{
	line-height: 10px;
}
.reset-col-padding {
    margin-right: -10px;
    margin-left: -10px;
}
.reset-col-padding>div[class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}
.center-vertical {
    justify-content: center;
}
.center-vertical, .center-vertical-nojustify {
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.footer{
	padding: 30px 0px;
	background: #0D4530;

	.footer-left{
		display: flex;

		.logo{
			max-width: 25%;
			padding-right: 15px;
		}
		.content{
			color: #fff;
			padding-top: 20px;
			span{
				display: block;
			}
		}
	}
	.footer-right{
		display: flex;
		padding-top: 20px;

		.menu{
			a{
				color: #fff;
			}
			width: 50%;
			li{padding-bottom: 15px;}
			img{max-width: 50px; max-height: 25px; padding-right: 8px;}
		}
	}
}
header{
	.header-simple{
		.main-nav{
			img{
				max-width: 25px;
				margin-right: 10px;
			}
			li a{
				color: #000;
			}
		}
		.toggle-mobile-menu{
			cursor: pointer;
			width: 20px;
		}
		.toggle-mobile-menu:first-child span, 
		.toggle-mobile-menu:first-child:after, 
		.toggle-mobile-menu:first-child:before{
			background-color: #000;
		    content: "";
		    display: block;
		    height: 2px;
		    margin: 4px 0;
		    transition: all .2s ease-in-out;
		}
	}
	.menu-show{
		display: none;
	    position: absolute;
	    width: 100%;
	    z-index: 11;
	    top: 0;
		background-image: url(../images/bg.jpg);
		background-size: cover; 
		.border-bottom-light{
			border-bottom: 2px solid #fff;
		}
		.text-vertical-lr{
			padding-top: 25px;
			padding-bottom: 25px;
			writing-mode: vertical-lr;
			color: #fff;
		}
		.logo img{
			max-width: 200px;
		}
		ul li{
			img{
				max-width: 50px;
			    max-height: 25px;
			    padding-right: 8px;
			}
		}
		.list-menu-show li{
			padding: 10px 0;
			a{
				color: #fff;
			}
		}

		.menu-bottom{
			padding: 30px 0;
			color: #fff;
			background: #0afe0a;
		}

		.toggle-mobile-menu:first-child:before{
			transform: translateY(7px) rotate(135deg);
		}
		.toggle-mobile-menu:first-child span {
		    transform: scale(0);
		}
		.toggle-mobile-menu:first-child:after {
		    transform: translateY(-5px) rotate(-135deg);
		}
	}
	.menu-show::before{
	  background-color: #00800082;
	  content: '';
	  display: block;
	  height: 100%;
	  position: absolute;
	  width: 100%;
	}
}

.page-1{
	.b-content{
	    writing-mode: vertical-lr;
	    color: #000;
	    text-align: center;
	    display: flex;   
	    align-items: center;
    	justify-content: center;
    	font-size: 130%;
	}
	.b-banner-1{
		position: relative;
		overflow: hidden;
		img.b-img-main{
			max-height: 700px;
			width: 100%;
		}
		img.people-1, img.people-2, img.people-3, img.people-4{
			position: absolute;
		    max-height: 400px;
		    transition: all 0.3s ease;
		}
		img.people-1{
		    bottom: -20%;
		    left: -50px;
		    transform: rotate(45deg);
		    &:hover{
		    	left: 0;
		    }
		}
		img.people-2{
		    top: -10%;
		    left: -50px;
		    transform: rotate(120deg);
		    &:hover{
		    	left: 0;
		    }
		}
		img.people-3{
		    bottom: -20%;
		    right: -50px;
		    transform: rotate(-45deg);
		    max-height: 350px;
		    &:hover{
		    	right: 0;
		    }
		}
		img.people-4{
		    top: -10%;
		    right: -50px;
		    transform: rotate(-120deg);
		    max-height: 350px;
		    &:hover{
		    	right: 0;
		    }
		}
	}
}

.page-7{
	.block-1{
		padding: 50px 0;
		.block-1-1{
			padding: 30px;
			background-image: url(../images/bg.jpg);
			.b-border{
				border: 2px solid #fff;
				padding: 30px;
			}
		}
	}
}

.page-8{
	.block-13 .content input, .block-13 .content textarea {
	  background: #DCDDDF;
	  border: 1px solid #A4A6A9;
	  padding: 4px 5px; }
	.block-13 .content input.w-30 {
	  width: 30%; }
	.block-13 .content .inout {
	  padding: 10px 0; }
	.block-13 .content .inout-child {
	  padding: 2px 0; }
	  .block-13 .content .inout-child .title {
	    padding-left: 15px; }
}

.block-11-1{
	padding: 50px 0;
	.bg-11-1{
		background: #FEE5C8;
		padding: 20px 40px;
	}
}
@media (min-width: 768px){
	.logo-menu-bottom img{
		position: absolute;
		bottom: 0;
		right: 50px;
	}
}
@media (max-width: 768px){
	header{
		.menu-responsive{
			display: none;
		}
	}
	.footer{
		.footer-left, .footer-right{
			display: block;
			.menu{
				width: 100%;
			}
		} 
	} 
}